*{
  overflow: 0;
  padding: 0;
  margin: 0;
}
.maininfo{
  display: inline-block;
}
h1{
  text-align: center;
  padding-bottom: 20px;
}
hr{
  border:1px solid black;
}
p{
  font-size: 40px
}
.mainimage{
  width: 30%;
  height: 30%;
}
.nemainimage{
  width: 250px;
  height: 250px;
}
.tablya{
  width: 900px;
  height: 400px;
  font-size: 40px;
  text-align: center;
}
.padding{
  margin-bottom: 20px;
  margin-top: 20px;
}
.bob{
  margin-left: auto;
  margin-right: auto;
}
body{
  color:white;
  background-image: url(https://static.wikia.nocookie.net/dota2_gamepedia/images/d/dd/Taunt-pudge-shakeyour.gif/revision/latest/scale-to-width-down/318?cb=20130602061800);
}
